{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/list_of_items/add_item_task_list.css' %}">

{% endblock css%}


<div id='modal-add-item' class='modal'>
    <div id='add-item-content'>        

        <div id="annotation-header-detail">
            <div>
                <p id='add-item-title'>Adicionar Item</p>    
            </div>
            <span id="close-modal-add-item" class="close">&times</span>
        </div>

        <hr id="line-options-detail">
                            
        <div id="add-item-body">
            <div id="list-items-add-item">
                <hr>    
                <ul>                                            
                    <li id="template-item" class='item-description-add-item'>
                        <div>
                            <p>Item 1</p>
                            <span id="delete-add-item" class="close delete-add-item">&times</span>                        
                        </div>
                        <hr>
                    </li> 
                </ul>   
                <p id="empty-msg" >Sem Itens na lista</p>
            </div>

            <form id='form-add-item' action="{% url 'list_of_items:task_list_item_create' %}" method="post">
                {% csrf_token %}

                {{form_item.description}} 

                <input id="task-id" type="hidden" name="task_id" value="">
                
                <button id="btn-submit-add-item" class='btn btn-form btn-form-add-item'  type="button">
                    <p>Adicionar</p>
                </button> 

                <button id="btn-delete-selected-items" class='btn btn-form  btn-form-add-item'>
                    <p>Excluir Selecionados</p>
                </button>                
            </form>
                                                                                  
        </div>          

    </div>   
                           
</div>

{% block js %}

<script src="{% static 'js/list_of_items/add_item_task_list.js' %}"></script>

{% endblock js %}