{% load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDoList</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap" rel="stylesheet"> 
        {% block css %}{% endblock css %}  
    </head>
    <body>
    <div id="container">
        <aside id="sidebar">
            <nav>
                <img src="{% static 'images/check.svg' %}" id="check-icon" alt="To Do List">
                <ul>
                    <hr class='line-menu'>
                    <li class="item-menu">
                        <a class="link-menu" href="#">
                            <img src="{% static 'images/note.svg' %}" alt="Anotações"> <p> Anotações </p>
                        </a>                    
                    </li>

                    <hr class='line-menu'>
                    <li class="item-menu">
                        <a class="link-menu" href="#">
                            <img src="{% static 'images/verification-of-list.svg' %}" alt="Listas"> <p>Listas</p>                      
                        </a>
                    </li>

                    <hr class='line-menu'>                    
                    <li class="item-menu">
                        <a class="link-menu" href="#">
                            <img src="{% static 'images/trash.svg' %}" alt="Lixeira"> <p>Lixeira</p>                      
                        </a>
                    </li>

                    <hr class='line-menu'>
                </ul>
            </nav>
        </aside>

        <main>
            <header>
                <h1>To Do List</h1>
            </header>       
            <section id="main-content-container">        
                <div id="main-content">
                    {% block content %}{% endblock content %}                                                                                
                </div>        
            </section>
        </main>
    </div>
    {% block js %}{% endblock js %}  
    </body>
</html>