#form-create {
  padding: 1% 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.label-field-create {
  font-size: 1.2vw;  
}

.form-field {
  margin-bottom: 1.5%;  
}

textarea {
  resize: none;
}

#btn-group {
  width:100%; 
  display:flex;
  
}

.btn-form {  
  background: #124887;
  color: #FFFFFF;
  font-size: 1.5vw;
  font-family: 'Rum Raisin', sans-serif;  
  padding: 1%;  
}

#btn-add-item {
  margin-left: 1%;
}