#modal-notification{
  display: none;
  justify-content: end;
}

#notification-content {    
    margin: 1%;
    padding: 0% 2%;
    border-radius: 10px;    
    display: flex;    
    justify-content: center;  
    height: 10%;
    width: auto;    
    white-space: nowrap;
    animation-name: slide;
    animation-duration: 1s;
    
}

.messages {
  display: flex;  
  align-items: center;
  padding-left: 4%;
  padding-right:  6%;
  
}

.messages p {
  color: #ffffff;
  font-size: 1.5vw;
}

.close-modal-notification {
  color: white;
  margin-right: 5%;
  margin-top: 2%;
  font-size: 3vw; 
  cursor: pointer;
  
}

.close-modal-notification:hover {
  color: red;
}

@keyframes slide {
    from{
        opacity: 0;
        transform: translateX(200px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}




