.content-task-list-detail {
  width: 65%;
  height: 70%;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 10px;
  animation-name: resizing;
  animation-duration: 0.5s;
}

.task-list-header-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;  
}

#task-list-title-detail {
  font-size: 1.8vw;
  margin-left: 1%;
  margin-top: 1%;  
  width: 80%;
}


.task-list-options-detail {
  width: 20%;  
  padding-top: 0.3%;
  display: flex;
  align-content: center;
  justify-content: end;
}

#btn-edit-detail {
  width: 99%;
  display: flex;
  justify-content: end;
}

#icon-edit-detail {
  width: 20%;
}

#icon-edit-detail:hover {
  width: 22%;  
}

#form-delete-detail {
  width: 30%;
  display: flex;
}

#form-delete-detail button {
  width: 95%;
}

#form-delete-detail button:hover {
  width: 102%;
}

#icon-trash-detail {
  width: 74%;
}

.task-list-body-detail {
  height: 95%;
}

#close-modal-detail {
  margin-left: 1%;  
  width: 4%;
  cursor: pointer;
}

#close-modal-detail:hover {
  width: 4.3%;
}

#template-item-detail {
  display: none
}