#content {
  width: 95%;
  height: 63%;
  margin: auto;
  padding-left: 3%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 4;
}

.task-list-container-block {
  background: #c4c4c4;
  width: 22%;
  height: 50%;
  display: none;
  margin-right: 3%;
  margin-bottom: 1%;
}

.task-list-header {
  width: 100%;
  display: flex;
  align-content: space-between;
}

.task-list-title {
  margin-left: 4%;
  font-size: 3.5vh;
  width: 50%;
}

.task-list-options {
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: end;
}

#btn-add-item-option {
  width: 18%;
}

#btn-add-item-option:hover {
  width: 20%;
}

.btn-option {
  width: 20%;
  background: rgba(1, 1, 1, 0);
  margin-left: 3%;
}

#form-delete {
  width: 22%;
}

#form-delete button {
  width: 95%;
}

#form-delete button:hover {
  width: 100%;
}

.btn-option {
  width: 20%;
  background: rgba(1, 1, 1, 0);
}

.btn-option:hover {
  width: 22%;
  margin-bottom: 0px;
}

.task-list-body {
  height: 79%;
  width: 100%;
  padding-top: 2%;
  cursor: pointer;
}

.task-list-body:hover {
  background: rgba(1, 1, 1, 0.5);  
  z-index: 1;
}

.task-list-body ul{
  list-style: none;   
  margin-top: -1.7%;
}

.item-description {
  font-size: 1.46vw;
  padding-left: 4%;
  background: rgba(1, 1, 1, 0.2);
  border-top: 1px solid black;     
}

.task-list-body ul li:first-child {
  border-top: 0px;
}