#content {
  width: 95%;
  height: 63%;
  margin: auto;
  padding-left: 3%;
  margin-top: 2%;
}

.task-list-container-list {
  background: #c4c4c4;
  width: 97%;
  height: 9%;
  display: none;
  margin-right: 3%;
  margin-bottom: 1%;
}

#task-list-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#task-list-content:hover {
  background: rgba(1, 1, 1, 0.5);
  z-index: 1;
}

.task-list-body {
  width: 92%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.task-list-title {
  font-size: 1.3vw;
  width: 11%;
}

.line-title {
  height: 60%;
  margin-right: 2%;
}

.task-list-body{
  width: 100%;
}

.task-list-body ul{
  list-style:  disc;
  display: flex;    
  width: 100%;
}


.item-description {
  font-size: 1.3vw;  
  margin-left: 4%
}

.item-description:first-child{
  margin-left: 1%;
}

#task-list-options {
  width: 10%;  
  display: flex;
  justify-content: right;
}

#btn-add-item-option {
  margin-right: 5%;
  width: 20%
}

#btn-add-item-option:hover {
  width: 22%;
}

.form-delete {
  width: 22%;
  display: flex;
  align-items: center;  
}

.form-delete:hover {
  width: 25%;
}

.form-delete button {
  width: 98%;
}

.btn-option {
  width: 20%;
  background: rgba(1, 1, 1, 0);
}

.btn-option:hover {
  width: 25%;
}
