{% extends "base.html" %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/annotation_list_style.css' %}">

{% endblock css %}

{% block content %}

<h2 id='title-section'>Anotações</h2>

{% include "includes/search_bar.html" %}

<div id='content'>
    {% for annotation in annotations%}   
    <div id="annotation-container">

        <div id="annotation-content">

            <div id="annotation-header">

                <p id="annotation-title">{{annotation.title}}</p>    

                <div id="annotation-options">
                    <button  class="btn btn-option btn-edit" title="Editar" data-id={{annotation.pk}} data-priority={{annotation.priority}}>
                        <img src="{% static 'images/edit.svg' %}" alt="Editar">
                    </button>

                    <form id="form-delete" action="{% url 'annotations:annotation_delete' pk=annotation.pk %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-option" type='submit' title="Excluir">
                            <img src="{% static 'images/trash-black.svg' %}" alt="Excluir">
                        </button>
                    </form>
                </div>

            </div>

            <hr id="line-options">
                        
            <div id="annotation-body">
                <p>{{annotation.description}}</p>
            </div>          

        </div>   

        {% if annotation.priority == 1 %}
        <div id="status-bar" style='background: #8E0000'></div>          
        {% elif  annotation.priority == 2 %}
        <div id="status-bar" style='background: #EDF201'></div>  
        {% else %}
        <div id="status-bar" style='background: #44DE2B'></div>  

        {% endif %}

    </div>        
    {% endfor %}    


</div>

{% include "includes/pagination.html" %}

<!--Incluindo o fomulário-->
{% include "form_annotation.html" %}

{% endblock content %}

{% block js %}
<script src="{% static 'js/annotation_edit.js' %}"></script>
{% endblock js %}