{% extends "base.html" %}

{% load static %}

{% block css %}

<link id="css-list" rel="stylesheet" href="{% static 'css/annotation_list_style_list_mode.css' %}">
<link  id="css-block" rel="stylesheet" href="{% static 'css/annotation_list_style_block_mode.css' %}">

{% endblock css %}

{% block content %}
<!--Incluindo as notificações -->
{% include "includes/notification.html" %}

<h2 id='title-section'>Anotações</h2>

<!--Incluindo a barra de pesquisa-->
{% include "includes/search_bar.html" %}

<div id='content'>
    {% for annotation in annotations%}   
    <!--Visualização em blocos -->
    <div class="annotation-container-block">

        <div id="annotation-content">

            <div class="annotation-header">

                <p id='annotation-title-{{annotation.id}}' class="annotation-title">{{annotation.title}}</p>    

                <div class="annotation-options">
                    <button  class="btn btn-option btn-edit" title="Editar" data-id={{annotation.id}} data-priority={{annotation.priority}}>
                        <img src="{% static 'images/edit.svg' %}" alt="Editar">
                    </button>
                    {% if change_order %}
                    <form id="form-delete" action="{% url 'annotations:annotation_delete' pk=annotation.id %}" method="post">                    
                    {% else %}
                    <form id="form-delete" action="{% url 'annotations:annotation_delete' pk=annotation.id %}?change=order" method="post">
                    {% endif %}
                        {% csrf_token %}
                        <button class="btn btn-option" type='submit' title="Excluir">
                            <img src="{% static 'images/trash-black.svg' %}" alt="Excluir">
                        </button>
                    </form>
                </div>

            </div>

            <hr class="line-options">
                        
            <div class="annotation-body">            
                <p  id="annotation-p-{{annotation.id}}" class='annotation-description' data-id={{annotation.id}}>{{annotation.description}}</p>
            </div>          

        </div>   

        {% if annotation.priority == 1 %}
        <div id="status-bar-{{annotation.id}}" class="status-bar" style='background: #8E0000'></div>          
        {% elif  annotation.priority == 2 %}
        <div id="status-bar-{{annotation.id}}" class="status-bar" style='background: #EDF201'></div>  
        {% else %}
        <div id="status-bar-{{annotation.id}}" class="status-bar" style='background: #44DE2B'></div>  

        {% endif %}

    </div>   

    <!--Visualização em lista-->
    <div class="annotation-container-list">

        {% if annotation.priority == 1 %}
        <div id="status-bar-{{annotation.id}}" class="status-bar" style='background: #8E0000'></div>          
        {% elif  annotation.priority == 2 %}
        <div id="status-bar-{{annotation.id}}" class="status-bar" style='background: #EDF201'></div>  
        {% else %}
        <div id="status-bar-{{annotation.id}}" class="status-bar" style='background: #44DE2B'></div>  
        {% endif %}    
    

        <div id="annotation-content">

            <div class="annotation-body">
                <p id='annotation-title-{{annotation.id}}' class="annotation-title" data-id={{annotation.id}}>{{annotation.title}}</p>  
                <hr class="line-title">
                <p id="annotation-p-{{annotation.id}}" class='annotation-description'>{{annotation.description}}</p>
            </div>  


            <div id="annotation-options">
                <button  class="btn btn-option btn-edit" title="Editar" data-id={{annotation.pk}} data-priority={{annotation.priority}}>
                    <img src="{% static 'images/edit.svg' %}" alt="Editar">
                </button>
                {% if change_order %}
                <form id="form-delete" action="{% url 'annotations:annotation_delete' pk=annotation.id %}" method="post">                    
                {% else %}
                <form id="form-delete" action="{% url 'annotations:annotation_delete' pk=annotation.id %}?change=order" method="post">
                {% endif %}                
                    {% csrf_token %}
                    <button class="btn btn-option" type='submit' title="Excluir">
                        <img src="{% static 'images/trash-black.svg' %}" alt="Excluir">
                    </button>
                </form>
            </div>

        </div>
                                  
    </div>   
            
    {% endfor %}    

</div>

<!--Incluindo a paginação-->
{% include "includes/pagination.html" %}

<!--Incluindo o fomulário-->
{% include "annotation_form.html" %}

<!--Incluindo a página de detalhes das annotações-->
{% include "annotation_detail.html" %}



{% endblock content %}

{% block js %}
<script src="{% static 'js/annotation_edit.js' %}"></script>
<script src="{% static 'js/change_listing_mode_annotation.js' %}"></script>

{% endblock js %}